alembic==1.7.5
argon2-cffi 
astroid==2.5
blinker==1.4
cachelib==0.5.0
certifi==2021.10.8
charset-normalizer==2.0.10
click==8.0.3
colorama==0.4.4
distlib==0.3.4
entrypoints==0.3
filelock==3.4.2
Flask==2.0.2
Flask-Dance==5.1.0
Flask-DebugToolbar==0.11.0
Flask-Login==0.5.0
Flask-Migrate==3.1.0
Flask-OAuth==0.12
Flask-OAuthlib==0.9.6
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
httplib2==0.20.2
idna==3.3
importlib-resources==5.4.0
isort==5.7.0
itsdangerous==2.0.1
Jinja2==3.0.3
joblib==1.1.0
lazy==1.4
lazy-object-proxy==1.5.2
Mako==1.1.6
MarkupSafe
matplotlib-inline
mccabe==0.6.1
mistune==0.8.4
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numpy==1.22.0
oauth2==1.9.0.post1
oauthlib==2.1.0
packaging
pandas==1.3.5
pandocfilters
parso
pickleshare
platformdirs==2.4.1
prometheus-client
prompt-toolkit
pycparser
Pygments
pylint==2.7.1
pyparsing
pyrsistent
python-dateutil
pytz==2021.3

pywinpty==0.5.7
pyzmq
requests==2.27.1
requests-oauthlib==1.1.0
scipy==1.7.3
Send2Trash
six
SQLAlchemy==1.4.29
terminado==0.9.4
testpath
threadpoolctl==3.0.0
toml==0.10.2
tornado
traitlets
urllib3==1.26.8
URLObject==2.4.3
virtualenv==20.13.0
waitress==2.0.0
wcwidth
webencodings==0.5.1
Werkzeug==2.0.2
wincertstore==0.2
wrapt==1.12.1
WTForms==3.0.1
zipp
